@import "~/assets/scss/variables.scss";

.root {
	margin-top: 150px;
	margin-bottom: 150px;
	h2 {
		max-width: 683px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 80px;
	}
}

.body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form {
	max-width: 797px;
	width: 100%;
}

.info {
	padding: 76px 32px;
	background: #f4f0ec;
	border-radius: 50px;
	max-width: 349px;
	width: 100%;
}
