@import "~/assets/scss/variables.scss";

.title {
	padding-top: 41px;
	padding-bottom: 41px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #ffffff;
	border-radius: 37px 37px 0px 0px;
	max-width: 503px;
	width: 100%;
	position: absolute;
	position: absolute;
	bottom: 25%;
	left: 30.5%;
}
