@import "~/assets/scss/variables.scss";

.root {
	justify-content: space-between;
	padding-top: 45px;
	padding-bottom: 38px;
}

.root,
.menu {
	display: flex;
	align-items: center;
}

.menu {
	nav {
		ul {
			display: flex;
			align-items: center;
			li {
				margin-left: 40px;
				&:first-child {
					margin-left: 0;
				}
				a {
					color: $primaryTextColor;
					transition: all 300ms ease-in-out;
					&:hover {
						color: $brownTextColor;
					}
				}
			}
		}
	}
}

.search {
	margin-left: 29px;
	cursor: pointer;
	transition: all 300ms ease-in-out;
	&:hover {
		color: $brownTextColor;
	}
}
