@import "~/assets/scss/variables.scss";

.root {
}

.top-content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-bottom: 130px;
}
.contact {
	max-width: 393px;
	width: 100%;
	p {
		margin-bottom: 31px;
		margin-top: 18px;
	}
}

.menu {
	display: flex;
}

.list {
	margin-left: 101px;
	max-width: 258px;
	&:first-child {
		margin-left: 0;
	}
	h5 {
		margin-bottom: 20px;
	}
	ul {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		li {
			line-height: 66px;
			a {
				color: $primaryTextColor;
			}
		}
	}
}
.bottom-content {
	border-top: 1px solid #e5e5e5;
}
.text {
	padding-top: 40px;
	padding-bottom: 46px;
	max-width: 820px;
	width: 100%;
}
