@import "~/assets/scss/variables.scss";

.root {
	width: 100%;
	font-size: 18px;
	line-height: 33px;
	outline: none;
	border: none;
	border-bottom: 1px solid $secondaryTextColor;
	padding-bottom: 14px;
	color: $secondaryTextColor;
	transition: all 300ms ease-in-out;
	&::placeholder {
		transition: all 300ms ease-in-out;
	}
	&:hover {
		border-bottom: 1px solid #000000;
		&::placeholder {
			color: #000000;
		}
	}
}
