@import "~/assets/scss/variables.scss";

.root {
}

.form {
	margin-top: 36px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.input-wrapper {
	margin-bottom: 50px;
	width: 48%;
}
.message {
	width: 100%;
	input {
		padding-bottom: 100px;
	}
}

.check-box {
	margin-top: 36px;
	margin-bottom: 63px;
}

.button {
	max-width: 220px;
}
