@import "~/assets/scss/variables.scss";
.root {
	max-width: 796px;
	margin-top: 200px;
	margin-bottom: 135px;
	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		text-align: center;
		margin-bottom: 70px;
		max-width: 634px;
	}
}

.button {
	max-width: 220px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 77px;
}

.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.input-wrapper {
	width: 100%;
}

.name,
.email {
	width: 48%;
	margin-bottom: 57px;
}

input {
	&.message {
		padding-bottom: 135px;
	}
}
