@import "~/assets/scss/variables.scss";

.root {
	cursor: pointer;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 300ms ease-in-out;
	height: 75px;
	border-radius: 18px;
	color: #fff;
	font-family: "Jost";
	border: none;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.02em;
	box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
	i {
		font-size: 20px;
		margin-left: 10px;
		margin-top: 4px;
	}
	&.is-default {
		background: $primaryTextColor;
		i {
			color: $brownTextColor;
		}
	}
	&.is-brown {
		background-color: $brownTextColor;
		i {
			color: $primaryTextColor;
		}
	}
}
