.article {
	img {
		width: 100%;
		border-radius: 60px;
		margin-top: 21px;
		margin-bottom: 46px;
		display: block;
	}
	p {
		margin-bottom: 35px;
		max-width: 799px;
	}
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	margin-bottom: 48px;
}
