.root {
	background-image: url(~/public/images/banner.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 374px;
	width: 100%;
	border-radius: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 150px;
}
