@import "~/assets/scss/variables.scss";

.root {
	min-height: 356px;
	height: 100%;
	width: 100%;
	margin-bottom: 200px;
	position: relative;
	img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}
// .title {
// 	position: absolute;
// 	bottom: 0;
// 	left: 50%;
// }
