@import "~/assets/scss/variables.scss";

.root {
	max-width: 358px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 30px;
	padding: 83px 20px;
	transition: all 300ms ease-in-out;
	cursor: pointer;
	p {
		text-align: center;
		margin-top: 20px;
		margin-bottom: 50px;
	}
	a {
		font-weight: 600;
		font-size: 18px;
		display: flex;
		color: $secondaryTextColor;
		i {
			margin-left: 12px;
			margin-top: 4px;
			color: $brownTextColor;
		}
	}
	&:hover {
		background: $primaryBackground;
	}
}
